# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicit text files
*.md text eol=lf diff=markdown
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf

# Binary files
*.png binary
*.jpg binary
*.ico binary
